{% extends "admin/layout_admin.html" %}
{% block body %}
    <table class="table table-hover table-responsive">
        <th style="width: 300px">id_article</th>
        <th style="width: 300px">prix_unitaire</th>
        <th style="width: 300px">quantite</th>
        <th style="width: 300px">prix total article</th>
        {% for article in articles %}
            <tr>
                <td>{{ article.libelle }}</td>
                <td>{{ article.prix_unit }}</td>
                <td>{{ article.quantite|int }}</td>
                <td>{{ article.prix_tot }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>Etat de la commande : {{ etat.libelle }}</div>
    <div class=""> </div>
{% endblock %}