{% extends "admin/layout_admin.html" %}
{% block body %}
    <div class="row text-center">
        <p class="col-6">
            <strong>Adresse de livraison : </strong><br>
            {{etat.ville}}  ({{ etat.code }}) <br>
            {{ etat.numero }} {{ etat.rue }}
        </p>
        <p class="col-6">
            <strong>Adresse de facturation : </strong><br>
            {{ etat['af.ville'] }} ({{ etat['af.code'] }})<br>
            {{ etat['af.numero'] }} {{ etat['af.rue'] }}
        </p>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <th style="width: 400px">id_article</th>
        <th style="width: 300px">prix_unitaire</th>
        <th style="width: 300px">quantite</th>
        <th style="width: 300px">prix total article</th>
        {% for article in articles %}
            <tr>
                <td>{{ article.libelle }}  ({{ article.cl }} - {{ article.tl }})</td>
                <td>{{ article.prix_unit }}</td>
                <td>{{ article.quantite|int }}</td>
                <td>{{ article.prix_tot }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>Etat de la commande : {{ etat.libelle }}</div>
    <div class=""> </div>
{% endblock %}