{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un casque</title>
{% endblock %}

{% block body %}
    <h2>ajouter un article</h2>
    <div class="row mt-5">
        <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;" id="output" src="{{ url_for('static', filename = 'images/' + article.image) }}" alt="">
        <div class="w-25">
            <form class="w-190" method="post" action="{{ url_for('admin_casque.valid_add_casque') }}">
                <input id="id" type="hidden" name="id" value="{{ article.id }}">
                <label for="stock">stock :
                    <input name="stock" id="stock" type="number">
                </label>
                <label for="couleur">Couleur :
                    <select name="couleur">
                        {% for couleur in couleurs %}
                             <option value="{{ couleur.id }}"> {{ couleur.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="taille">Taille :
                    <select id="taille" name="taille">
                        {% for taille in tailles %}
                            <option value="{{ taille.id }}"> {{ taille.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter">
                    <a href="/admin/article/edit/{{ article.id }}"><button class="btn btn-secondary">annuler</button></a>
                </label>


            </form>
        </div>
    </div>
{% endblock %}
