{# PAGE POUR AJOUTER ET COMMENTER LES ARTICLES#}
{# non utilisée pour le moment mais pour la deuxieme partie sur les commentaires #}
{% extends "client/layout_client.html" %}
{% block body %}
<div class="container">
    <div class="text-center card w-auto">
         <h2 class="card-title">
             <span style="color: #0b2e13">{{ article.libelle }}</span> &nbsp;{{ article.prix }} €
         </h2>

        <div class="card-body">
        <h4>{{ article.description }}</h4>
        {%  if article.image is not none %}
            <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/' + article['image']) }}"  alt="image  de {{ article.nom }}" >
        {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.nom }}" >
        {% endif %}

        </div>
    </div>
    <br>

    {% if choix | length != 0 %}
        <div>
            <h2>Acheter ce produit</h2>
            <form class="border p-3" action="/client/panier/update" method="post">
{#                <select name="idArticle" id="spe">#}
                    {% for type in choix %}
{#                         <option value="{{ type.id }}" > Couleur : {{ type['libelle'] }} - Taille : {{ type['taille.libelle'] }}</option>#}
                        <input name="idArticle" type="radio" value="{{ type.id }}" id="{{ type.id }}" >
                        <label for="{{ type.id }}">Couleur : {{ type['libelle'] }} - Taille : {{ type['taille.libelle'] }}</label><br>
                    {% endfor %}
{#                </select><br>#}
                <button class="btn btn-primary" >Acheter</button>
            </form>
        </div>
    {% else %}
        <h4 class="border text-center p-2">Cet article n'est plus disponible en stock ou est dans votre panier</h4>
    {% endif %}
    <br>

    <div class="p-4" style="background-color: #ba8b00">
        {% if commandes_articles | length > 0 %}
            <div>Vous avez commandé <strong>{{ commandes_articles | length }} </strong>fois  ce produit</div>
            <hr>

            {% if userHasMadeAComment %}
                Vous avez déja fait un commentaire
            {% else %}
            <form  action="/client/comment/add"  method="post">

                <label for="inputAvis" class="form-label">Mettez un commentaire sur cet article : </label>
                <textarea name="commentaire" class="form-control w-50" id="inputAvis"  placeholder="Donnez votre avis"></textarea><br>

                <label for="inputNote" class="form-label">Donnez une note à cet article </label>
                <input type="number" name="note" id="inputNote" step="0.1" min="0" max="5" class="form-control w-25">

                <input type="hidden" name="idUser" value="{{ session['user_id'] }}">
                <input type="hidden" name="idArticle" value="{{ article.id }}"><br>

                <button class="btn btn-primary"> Ajouter un avis </button>
            </form>
            {% endif %}


        {% else %}
            <div class="p-3 m-auto">Vous n'avez jamais acheté ce produit</div>
        {% endif %}

    </div>

    <div class="row">
            <div class="col-5 bg-light p-3">
        <h3>Les commentaires</h3>
            </div>
        <table class="table" style="border: solid #8959A8 1px ">
            <thead class="thead-dark">
            <tr>
                <th>user</th>
                <th>Commentaires</th>
                <th>Note</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if commentaires %}
                {% for commentaire in commentaires %}
                    <tr>
                        <td>{{ commentaire.user_id }}</td>
                        <td>{{ commentaire.texte }}</td>
                        <td>{{ commentaire.note }}
                        {{ commentaire.__dict__ }}
                        </td>
                        <td>
                            {% if commentaire.user_id == session['user_id'] %}
                                  <form  action="/client/comment/delete"  style="display: inline-block;"  method="post" >
                                      <input type="hidden" name="idArticle" value="{{ commentaire.casque_id }}">
                                      <input type="hidden" name="idUser" value="{{ commentaire.user_id }}">
                                      <button class="btn btn-primary" > supprimer </button>
                                  </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="table-warning"><td>Pas de commentaire</td><td></td><td></td><td></td></tr>
            {% endif %}
            </tbody>
        </table>
        <a class="btn btn-outline-primary btn-lg" href="/client/article/show" >Retour vers la page d'accueil</a>
    </div>
</div>



{% endblock %}
