{% if session["role"] == "ROLE_client" %}
    {% extends 'client/layout_client.html' %}
{% else %}
    {% extends 'admin/layout_admin.html' %}
{% endif %}
{% block title %}
    <title>Ecrire un mail</title>
{% endblock %}

{% block body %}
  <h2>Ecrire un mail</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/mails/send" >
    <fieldset>
        <label for="objet">Objet</label><br>
        <input id="objet" type="text" name="objet" size="255" value="" required placeholder="Saisir l'objet du mail"><br>
        <label for="receiver_id">Destinataire</label><br>
        <select  id="receiver_id" name="receiver_id" required>
            <option value="">Sélectionner le destinataire</option>
            {% for user in users %}
                 <option value="{{ user.id }}"> {{ user.username }} ({{ user.email }}) </option>
            {% endfor %}
        </select>
        <br>
        <label for="texte">Contenu du mail</label><br>
        <textarea id="texte" name="texte" required></textarea><br>
        <input type="submit" value="Envoyer" name="envoyer" >
    </fieldset>
  </form>
{% endblock %}
