{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les utilisateurs</title>
{% endblock %}

{% block body %}
<h3>Utilisateurs</h3>
<br><br>

<div class="m-5">
<table class="table">
    <thead class="thead-dark">
        <tr>
             <th>Nom d'utilisateur</th>
             <th>Nom</th>
             <th>Prenom</th>
             <th>Email</th>
             <th>Role</th>
            <th>Solde</th>
            <th>Actif ?</th>
        </tr>
    </thead>
    <tbody>
    {% if users | length >= 1 %}
        {% for ligne in users %}
           <tr>
               <td>{{ ligne.username }}</td>
               <td>{{ ligne.nom }}</td>
               <td>{{ ligne.prenom }}</td>
               <td>{{ ligne.email }}</td>
               <td>{{ ligne.role }}</td>
               <td {% if ligne.solde >= 0 %} style="color: red" {% else %} style="color: green" {% endif %}>{{ ligne.solde }}</td>
               {% if ligne.est_actif == 1 %}
                    <td> VRAI </td>
                {% else %}
                    <td> FAUX </td>
                {% endif %}
           </tr>
        {% endfor %}
    {% else %}
          <tr>
              <td>
                  pas d'utilisateurs ?!
              </td>
         </tr>
    {% endif %}
    </tbody>
</table>
</div>

{% endblock %}
