{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un article</title>
{% endblock %}

{% block body %}
    <h2>ajouter un article</h2>
    <div class="row mt-5">
        <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;" id="output" src="" alt="">
        <div class="w-25">
            <form class="w-190" method="post" action="{{ url_for('admin_article.valid_add_article') }}" enctype="multipart/form-data">
                <label for="nom">Nom :
                    <input name="nom" type="text" value="">
                </label>
                <label for="prix">prix (€) :
                    <input name="prix" type="number" min="0.0" step="0.01" max="2147483647" value="">
                </label>
                <label for="image"> Image :
                    <input name="image" type="file" onchange="loadFile(event)">
                </label>
                <label for="fabricant">Fabricant :
                    <select name="fabricant">
                        {% for fabricant in fabricants %}
                             <option value="{{ fabricant.id }}"> {{ fabricant.nom }}</option>
                        {% endfor %}
                    </select>
                </label>
{#                <label for="couleur">#}
{#                    <select name="couleur">#}
{#                        {% for couleur in couleurs %}#}
{#                             <option value="{{ couleur.id }}"> {{ couleur.libelle }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </label>#}
                <label for="typeCasque">Type de casque :
                    <select name="typeCasque">
                        {% for type in types_casque %}
                             <option value="{{ type.id }}"> {{ type.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
{#                <label for="taille">Taille :#}
{#                    <select name="taille">#}
{#                        {% for taille in tailles %}#}
{#                            <option value="{{ taille.id }}"> {{ taille.libelle }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </label>#}
                <label for="description">description :
                    <input name="description" type="text">
                </label>
                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter">
                </label>
            </form>
        </div>
    </div>
{% endblock %}
