{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un article</title>
{% endblock %}

{% block body %}
    <h2>modifier un article</h2>
    {% for article in article %}
        <div class="row mt-5">
            <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;"  src="{{ url_for('static', filename = 'images/' + article['image']) }}"  alt="image  de {{ article.nom }}" >
            <div class="w-25">
                <form class="w-190" method="post" action="{{ url_for('admin_article.valid_edit_article') }}" enctype="multipart/form-data">
                    <input type="hidden" value="{{ article.id }}" name="id">
                    <label for="nom">Nom :
                        <input name="nom" type="text" value="{{ article.libelle }}">
                    </label>
                    <label for="prix">Prix :
                        <input name="prix" type="number" min="0.0" step="0.01" value="{{ article.prix }}">€
                    </label>
                    <label for="image">Image :
                        <input name="image" type="file">
                    </label>
                    <label for="fabricant">Fabricants :
                        <select name="fabricant">
                            {% for fabricant in fabricants %}
                                 <option value="{{ fabricant.id }}" {% if fabricant.id == article.fabricant_id %} selected {% endif %}> {{ fabricant.nom }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="typeCasque"> Type de casque :
                        <select name="typeCasque">
                            {% for type in types_casques %}
                                 <option value="{{ type.id }}" {% if type.id == article.type_casque_id %} selected {% endif %}> {{ type.libelle }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="description">Description :
                        <input name="description" type="text" value="{{ article.description }}">
                    </label>
                    <label for="submit">
                        <input name="submit" type="submit" value="Modifier">
                    </label>
                </form>
                <a href="{{ url_for('admin_article.show_article') }}"><button class="btn btn-secondary">annuler</button></a>
                <div class="container-fluid " style="width: 1000px;">

                    <div style="display: flex; justify-content: space-between">
                        <h3>exemplaires</h3>
                        <a class="img-fluid" href="/admin/article/casque/{{ article.id }}/add">
                            <button class="btn btn-white float-right border-dark">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </a>
                    </div>
                    <table class="table table-hover table-responsive">

                        <th style="width: 300px">taille</th>
                        <th style="width: 300px">couleur</th>
                        <th style="width: 300px">stock</th>
                        <th style="width: 300px">opérations</th>

                        {% if casques | length == 0 %}
                            <tr>
                                <td>Aucun modèle</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for casque in casques %}
                                <tr>
                                    <td>{% for taille in tailles %}
                                        {% if taille.id == casque.taille_id %}
                                            {{ taille.libelle }}
                                        {% endif %}
                                    {% endfor %}</td>
                                    <td>{% for couleur in couleurs %}
                                        {% if couleur.id == casque.couleur_id %}
                                            {{ couleur.libelle }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>{{ casque.stock }}</td>
                                    <td style="display: flex">
                                        <a class="img-fluid" href="/admin/article/casque/delete/{{ casque.id }}.{{ article.id }}">
                                            <button class="btn btn-white float-right border-dark">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </a>
                                        <a class="img-fluid" href="/admin/article/casque/edit/{{ casque.id }}">
                                            <button class="btn btn-white float-right border-dark">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
