<!-- templates/signup.html -->
{% extends 'auth/layout.html' %}

{% block body %}
<form method="post" action="/signup">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            <div class="alert alert-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <label>Pseudo</label>
    <input type="text" name="username" class="form-control" value="" required autofocus  placeholder="Username (login)">

    <label>Nom</label>
    <input type="text" name="nom" class="form-control" value="" required  placeholder="Nom">

    <label>Prenom</label>
    <input type="text" name="prenom" class="form-control" value="" required  placeholder="Prenom">

    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" value="" required  placeholder="Email"  >

    <label for="password">Mot de passe</label>
    <input type="password" name="password" class="form-control" value="" required  placeholder="Password">

    <button class="btn btn-lg btn-primary mt-4" type="submit">
        Valider l'inscription (Sign Up)
    </button>
</form>

    <br>
    <button class="btn btn-white" style="font-size: 10px;" data-toggle="modal" data-target="#exampleModalCenter" >Conditions d'Utilisations</button>

        <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Type de Livraison</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="Mbody" class="modal-body">
              <h4>Conditions d'utilisations de eCasques :</h4>
              <br>
              <h5>Article 1 :</h5>
              <p>eCasques ne peut pas être attaqué en justice pour cause de : Arnaques, Escroquerie, Fraude, ...</p>
              <h5>Article 2 :</h5>
              <p>Des frais supplémentaires peuvent être appliqués à toute opérations.</p>
              <h5>Article 3 :</h5>
              <p>L'utilisateur accepte de ne pas porter plainte contre eCasques.</p>
              <h5>Article 4 :</h5>
              <p>eCasques peux conserver les informations suivantes : nom, prénom, identifiant, mot de passe, numéro et code de carte bancaire.
              <h5>Article 5 :</h5>
              <p>eCasques peut vendre à tout moment les informations de ses clients.</p>
              <h5>Article 6 :</h5>
              <p>Le client accepte d'acheter au moins 50 casques.</p>
              <h5>Article 7 :</h5>
              <p>Le site fonctionne sous les lois du Nigeria.</p>
              <h5>Article 8 :</h5>
              <p>Une inscription comporte un achat automatique d'un lot spécial de 80 casques ainsi qu'une VirtualBoy.</p>
              <h5>Article 9 :</h5>
              <p>Votre compte ne peux pas être supprimé.</p>
              <h5>Article 10 :</h5>
              <p>Pierre prend un pourboire de 50€ par livraison. (A regler lors de la reception du colis avec Pierre)</p>
          </div>
          <div class="modal-footer2">
              <div>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

