{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Index Admin</title>
{% endblock %}

{% block body %}
    <h3>Bonjour Administrateur :</h3>
    <br><br>
    <h4>Notre chiffre d'affaire est de : <strong> {{ "{:,.2f} €".format(chiffreAffaire) }}</strong> </h4>
    <br><br>
    <h4>Notre meilleur client est : {{ user.name }} </h4>
    <h4>Il est endetté de {{ "{:,.2f} €".format(user.total) }} envers nous</h4>
    <br>
    <h4>Position de Pierre, notre livreur :</h4>
    {% include 'admin/dataviz/franceMap.html' %}

    <script>
        let pos = "10";
        function updatePosOfPierre(){
            document.getElementById(pos.toString()).style.fill = "#FFFFFF";
            pos = (Math.floor(Math.random() * 94 + 1)).toString();
            while(pos.length < 2){
                pos = "0"+pos;
            }
            if(pos==="20"){
                pos = "2A";
            }
            console.log(pos);
            document.getElementById(pos.toString()).style.fill = "blue";
            setTimeout(function(){updatePosOfPierre(); }, 500);
        }

        updatePosOfPierre();
    </script>
{% endblock %}
