{% extends "client/layout_client.html" %}
{% block body %}

<div class="m-auto p-3 border" style="width: 500px">


    <form action="/client/info/add_money" method="post">
        <table class="table" >
            <tr>
                <td>Utilisateur connecté :</td>
                <td> {{ user.nom }} {{ user.prenom }}</td>
            </tr>
            <tr>
                <td>Verifier votre carte :</td>
                <td><label for="numero"><input type="text" name="numero" required value="{{ user.carte_numero }}" minlength="16" maxlength="16" ></label></td>
            </tr>
            <tr>
                <td>CVV : </td>
                <td><label for="picto"><input type="text" name="picto" required minlength="3" maxlength="3" ></label></td>
            </tr>
            <tr>
                <td>Date d'expiration (MM/AAAA): </td>
                <td><label for="expi"><input type="text" name="expi" required minlength="7" maxlength="7" ></label></td>
            </tr>
            <tr>
                <td>Code : </td>
                <td><input type="password" name="code" required minlength="4" maxlength="4" ></td>
            </tr>
            <tr>
                <td colspan="2">
                    Rentrez désormais le montant que vous voulez ajouter
                    <br>
                    <span style="font-size: 10px;">(10% seront prélevé pour frais de transaction).</span>
                </td>
            </tr>
            <tr>
                <td>Montant :</td>
                <td><input type="number" min="0.00" max="999999999.99" name="argent" required></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

</div>
{% endblock %}