{% extends "client/layout_client.html" %}
{% block body %}

    <div class="container  container-md">

      <form method="post" action="/client/info/edit" >
        <fieldset>
            <legend> Modifier ses informations personnelles</legend>
            <input type="hidden" name="id" size="18" value="9" id="id">
        <div class="mb-3">
                <input id="user_id" type="hidden" value="{{ user.id }}" >
        <div class="mb-3">
                <label class="form-label" for="nom">nom : </label>
                <input class="form-control" id="nom" type="text" required name="nom" {% if user.nom != "None" %}value="{{ user.nom }}" {% endif %} >
        </div>
        <div class="mb-3">
            <label class="form-label" for="prenom">prenom : </label>
            <input class="form-control" id="prenom" type="text" required name="prenom" {% if user.prenom != "None" %}value="{{ user.prenom }}" {% endif %} >
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">nom utilisateur : </label>
            <input class="form-control" id="username" type="text" required name="username" {% if user.username != "None" %}value="{{ user.username }}" {% endif %} >
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">email : </label>
            <input class="form-control" id="email" type="email" required name="email" {% if user.email != "None" %}value="{{ user.email }}" {% endif %} >
        </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Valider</button>
                <a href="/client/info/show" class="btn btn-primary">Retour</a>
            </div>

        </fieldset>
      </form>

</div>

{% endblock %}