{% extends "client/layout_client.html" %}
{% block body %}

    <div class="border m-auto p-3" style="width: 500px">
        <table class="table">
            <tr>
                <td>Votre nom :</td>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <td>Votre prenom : </td>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <td>Nom d'utilisateur :</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email : </td>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <td>Solde personnel :</td>
                <td style="color:grey"><div class="border p-2">{{ user.solde }} €</div></td>
            </tr>
        </table>
        <div>
{#            <button onclick="add_money()" class="btn btn-primary m-2" >Ajouter de l'argent</button>#}
            <a href="/client/info/add_money" class="btn btn-primary m-2">Ajouter de l'argent</a>
            <a href="/client/info/edit"  class="btn btn-primary m-2" >Modifier son profil</a>
        </div>
    </div>
</div>

{% endblock %}